<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageConverterLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ImageConverterLib.Properties.Settings>
            <setting name="SupportedInputFileTypes" serializeAs="String">
                <value>.jpg;.jpeg;.webp;.tif;.png</value>
            </setting>
            <setting name="SupportedOutputFormats" serializeAs="String">
                <value>.jpg;.png</value>
            </setting>
        </ImageConverterLib.Properties.Settings>
    </applicationSettings>
</configuration>